.error404{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./error404.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color:#e69020a6;

}