.imagen{
    width:200px;
    margin-left: 15px;
    margin-top: 15px;
}


.item2{
    border:2px solid rgb(172, 121, 226);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 4em;
    margin-top: 4em;
    background-color: bisque;
    border-radius: 25px;
    width: 230px;
    height: 500px;
    
}

/* .button{

    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius:  1px black;
    display: inline-block;
    justify-content:space-around;

} */

.contador{
    text-align: center;
    
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    
  }

  .detalle{
    
    border-radius: 25px;
    background-color: rgb(241, 21, 186);
    font-size:medium;
    font-family: cursive;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;

    
  }