

    .imagen-detail{
        width:200px;
        margin-left:15px ;
        margin-right: 15px;
        margin-top: 15px;
        text-decoration: none;
    }

.div-imagen-detail{
    border:2px solid rgb(172, 121, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 4em;
    margin-top: 4em;
    background-color: bisque;
    border-radius: 25px;
    width: 400px;
    height: 600px;
}

    .item_detail_titulo_cuadros{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: x-large;
        text-decoration: none;

    }

    .precio{
        text-align: center;
    }

    .boton{
    width: 60px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background-color:rgb(241, 21, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:static;
    font-size: medium;
    margin-top: 230px;
    margin-left: 2em;
    text-decoration: none;
    }

    .boton-terminar{
    width: 90px;
    height: 70px;
    color: white;
    background-color:rgb(22, 197, 209);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration:none;
    position:static;
    font-size: medium;
    margin-top: 230px;
    margin-left: 2em;
    border-radius: 25px;
    }
    .terminar{
        text-decoration: none;
    }

    .bterminar{
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;
    }

    .contenido-cuadros {
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-style:initial;
    }

    .precio{
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-style:initial;
        margin-top: 15px;
        
    }

    .contenido-id{
        text-align: center;
        font-size: medium;
        font-weight: bold;
        font-style:initial;
    }

    /* boton contador de cantidad de productos agregados*/




    .contadorItemDetail{
        display: flex;
        
        
    }

