
.item{
  display: flex;
  flex-wrap: wrap;
  /* background: url("./fondo.jpeg");
  background-size: cover; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
 
  
 
  
}




  


